<div class="comment-list">
    
    <div class="item row">
    {% if user_picture %}
        {{ user_picture }}
    {% endif %}
        <div class="col-md-11">
            <p class="name">{{ author }} <span>{{ node.created.value|date('d M, Y') }}</span> 
            </p>
            {{ content.links }}
            <p class="msg">{{ content.comment_body }}</p>
        </div>
    </div>
</div>