{% set blog_format = node.field_blog_format.0.value %}
{% set img_alt = node.field_image_blog.0.alt %}
{% set img = file_url(node.field_image_blog.0.entity.uri.value) %}
<div class="column col-sm-6 col-md-4 wow fadeInLeft">
  <div class="blog-article">
    <div class="blog-article-thumbnail">
    {% if blog_format == 'style2' %}
      <div class="gallery-carousel carousel">
        {% for img in img_uri_360_360 %}
          <div class="gallery-item">
            <img  alt="{{ img_alt }}" src="{{ img }}">
          </div>
        {% endfor %}
      </div>
    {% else %}
        {% if blog_format == 'style1' %}
           <img  alt="{{ img_alt }}" src="{{ img }}">
        {% endif %} 
    {% endif %}
      
      <div class="date">{{ node.created.value|date('d') }}<br>{{ node.created.value|date('M') }}</div>
    </div>
    <div class="blog-article-details">
      <h3 class="blog-article-title">{{ node.getTitle()|t }}</h3>
      <h4 class="blog-article-category">{{ content.field_categories_blog }}</h4>
      <a  href="{{ url }}" class="read-more">{{ 'Read More'|t }}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>