
{% include theme_path ~ "/templates/header.html.twig" %}
<main id="home" class="main masked parallax" data-stellar-background-ratio="0.7" {% if blog_background %}{{ 'style=background-image:url(' ~ blog_background ~ ')' }}{% endif %} >
    <div class="opener">
      <div class="container">
        <div class="row">
         <h1>{{ title }}</h1>
          <h2>{{ node.field_sub_title.value }}</h2>
        </div>
      </div>
    </div>
  </main>

  <!-- Content -->

    <div class="content">
        <section class="section">
          <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if page.content %}
                        {{ page.content }}
                    {% endif %}
                </div>
                <div class="col-md-4">
                  <div class="widget sidebar_widget widget_search">
                    {% if page.sidebar %}
                        {{ page.sidebar }}
                    {% endif %}
                  </div>
                </div>
            </div>
          </div>
        </section>

    </div>


{% include theme_path ~ "/templates/footer.html.twig" %} 